// ==========================================================================
// Vlaanderen UI -- Upload
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Components
// ==========================================================================
@import "vl-ui-upload/src/scss/upload";

// ==========================================================================
// Util
// ==========================================================================
@import "vl-ui-util/src/scss/util";

.vl-upload--error {
  .vl-upload__element {
    border-color: $vl-upload-file-error-color;
    background-color: #fae6e6;
    .vl-upload__element__label > * {
      color: $vl-upload-file-error-color;
    }
  }
}